/* responsive.css */
/* top left image */
@media (min-width: 1401px) {
 
        .ralphy {      
	        background-image:url("ralphy.gif");
		background-position: 0px 0px;
        	width: 250px;
        	height: 187px;
	}
}

/* top right image */
@media (min-width: 1201px) and (max-width: 1400px) {

       .ralphy {     	   
                background-image:url("ralphy.gif");
	        background-position: 250px 0px;
                width: 250px;
                height: 187px;
        }
}		

/* middle left image */
@media (min-width: 1001px) and (max-width: 1200px) {

       .ralphy {
                background-image:url("ralphy.gif");
                background-position: 0px -187px;
                width: 250px;
                height: 187px;
        }
}

/* middle right image */
@media (min-width: 801px) and (max-width: 1000px) {

       .ralphy {
                background-image:url("ralphy.gif");
                background-position: 250px -187px;
                width: 250px;
                height: 187px;
        }
}

/* bottom left image */
@media (min-width: 601px) and (max-width: 800px) {

       .ralphy {
                background-image:url("ralphy.gif");
                background-position: 0px -374px;
                width: 250px;
                height: 187px;
        }
}

/* bottom right image */
@media (min-width: 0px) and (max-width: 600px) {

       .ralphy {
                background-image:url("ralphy.gif");
                background-position: 250px -374px;
                width: 250px;
                height: 187px;
        }
}